In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
data_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series_from_list = pd.Series(data_list)
print(series_from_list)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [3]:
details={
    
    'Name':['Alice','Bob','Claire'],
    'Age':[25,30,27],
    'Gender':['Female','Male','Female']
}
data=pd.DataFrame(details)
data

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

 A DataFrame is a two-dimensional labeled data structure with columns that can hold data of different types. It can be thought of as a table or a spreadsheet. A Series, on the other hand, is a one-dimensional labeled array capable of holding data of any type.

In [5]:
import pandas as pd

# Example of Series
s = pd.Series([1, 2, 3, 4, 5])

# Example of DataFrame
data = {'A': [1, 2, 3], 'B': [4,5,6]}

In [6]:


# Creating a sample DataFrame
data = {
    'A': [1, 2, 3, 4, 5],
    'B': [6, 7, 8, 9, 10],
    'C': [11, 12, None, 14, 15]  # Adding a NaN value for demonstration
}
df = pd.DataFrame(data)

# Displaying first few rows
print("First few rows:")
print(df.head(3))

# Displaying last few rows
print("\nLast few rows:")
print(df.tail(2))

# Summary statistics
print("\nSummary statistics:")
print(df.describe())

# Information about DataFrame
print("\nDataFrame information:")
print(df.info())

# Dropping a column
df.drop('A', axis=1, inplace=True)
print("\nDataFrame after dropping column 'A':")
print(df)

# Filling missing values
df.fillna(0, inplace=True)
print("\nDataFrame after filling missing values:")
print(df)

# Grouping by a column and summing the groups
grouped = df.groupby('B').sum()
print("\nGrouped DataFrame:")
print(grouped)

# Merging two DataFrames
df1 = pd.DataFrame({'key_column': ['A', 'B', 'C'], 'value': [1, 2, 3]})
df2 = pd.DataFrame({'key_column': ['B', 'C', 'D'], 'value': [4, 5, 6]})
merged_df = pd.merge(df1, df2, on='key_column')
print("\nMerged DataFrame:")
print(merged_df)

First few rows:
   A  B     C
0  1  6  11.0
1  2  7  12.0
2  3  8   NaN

Last few rows:
   A   B     C
3  4   9  14.0
4  5  10  15.0

Summary statistics:
              A          B          C
count  5.000000   5.000000   4.000000
mean   3.000000   8.000000  13.000000
std    1.581139   1.581139   1.825742
min    1.000000   6.000000  11.000000
25%    2.000000   7.000000  11.750000
50%    3.000000   8.000000  13.000000
75%    4.000000   9.000000  14.250000
max    5.000000  10.000000  15.000000

DataFrame information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       5 non-null      int64
 1   B       5 non-null      int64
 2   C       4 non-null      float64
dtypes: float64(1), int64(2)
memory usage: 248.0 bytes
None

DataFrame after dropping column 'A':
    B     C
0   6  11.0
1   7  12.0
2   8   NaN
3   9  14.0
4  10  15.0

DataFrame after filling missing values:
    B     C
0   6  11.0
1   7  12.0
2   8   0.0
3   9  14.0
4  10  15.0

Grouped DataFrame:
       C
B
6   11.0
7   12.0
8    0.0
9   14.0
10  15.0

Merged DataFrame:
  key_column  value_x  value_y
0          B        2        4
1          C        3        5

In Pandas, both Series and DataFrame are mutable, meaning you can modify their contents after creation. However, Panel, which was used for handling three-dimensional data, has been deprecated since version 0.25.0, and its functionality has been incorporated into the more versatile DataFrame. Therefore, for the current versions of Pandas, Panel is no longer relevant.