In [2]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [4]:
df.head()

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [8]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

What is the difference between the functions loc and iloc in pandas.DataFrame?

Indexing Method:

loc: Uses labels (e.g., df.loc['row1', 'col1'])
iloc: Uses integer positions (e.g., df.iloc[0, 0])
Inclusion of End Points in Slices:

loc: Includes the end label (e.g., df.loc['row1':'row3'] includes 'row1', 'row2', and 'row3')
iloc: Excludes the end index (e.g., df.iloc[0:3] includes rows 0, 1, and 2, but not 3)

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [16]:
reindex = [3, 0, 1, 2]

# Reindexing the DataFrame
new_df = df.reindex(reindex)
print("\nReindexed DataFrame:")
print(new_df)
print(new_df.loc[2])
print(new_df.iloc[2])

Reindexed DataFrame:
        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
course_name    Big Data
duration              6
Name: 2, dtype: object
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [9]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [10]:
df1.head()

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.668424  0.016581  0.705911  0.348852  0.174371  0.664779
2  0.390885  0.346026  0.459202  0.085647  0.414274  0.872140
3  0.375868  0.961590  0.321544  0.985037  0.350516  0.478212
4  0.124245  0.979012  0.731636  0.917712  0.220808  0.978589
5  0.833363  0.800839  0.881444  0.024535  0.026682  0.549160

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [13]:
for i in df1.columns:
    print(df1[i].mean())

0.4053618664463367
0.6788825504435286
0.6801568889348165
0.45123071143734506
0.3557663761439119
0.6980091081208929

In [17]:
df1['column_2'].std()

0.40462881131161504

In [18]:
df1.loc[1, 'column_2'] = 'string_value'

In [20]:
try:
    mean_column_2 = df1['column_2'].mean()
    print(f"The mean of column_2 is: {mean_column_2}")
except TypeError as e:
    print(f"Error: {e}")

Error: can only concatenate str (not "float") to str

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

**Concept:**

Imagine a window sliding across your DataFrame rows. This window captures a specific number of rows based on the window function being used. Window functions perform some aggregation or transformation on the values within this window for each row in the DataFrame.

**Types of Window Functions in Pandas:**

Pandas provides several window functions, broadly categorized into three main types:

1. **Aggregate Functions:**
   - These functions perform calculations like `sum`, `mean`, `min`, `max`, etc., on the values within the window for each row.
   - Examples: `rolling.sum()`, `expanding.mean()`, etc.

2. **Ranking Functions:**
   - These functions assign ranks to each data point based on a specific order within the window.
   - Examples: `rank()`, `pct_change()`, etc.

3. **Value Functions:**
   - These functions return values based on specific positions within the window for each row.
   - Examples: `shift()`, `cumsum()`, etc.

**Additional Notes:**

* The type of window (rolling, expanding, or exponential) determines how the window moves across the DataFrame.
  - Rolling window: Fixed size window that slides across the data.
  - Expanding window: Window that grows as it moves, encompassing all data up to the current row.
  - Exponential window: Similar to rolling window, but applies weights to the data points within the window, with more weight given to recent observations.
* Pandas provides functions like `rolling()`, `expanding()`, and `ewm()` to create these different window types.

In [21]:
import datetime

# Get current date
now = datetime.datetime.now()

# Extract month and year as strings
current_month = now.strftime("%B")  # Full month name
current_year = now.strftime("%Y")  # Year

# Print result
print(f"Current Month: {current_month}, Year: {current_year}")

Current Month: June, Year: 2024

In [22]:
from datetime import datetime

def calculate_date_difference(date1, date2):
  """
  Calculates the difference between two dates in days, hours, and minutes.

  Args:
      date1 (str): Date in YYYY-MM-DD format.
      date2 (str): Date in YYYY-MM-DD format.

  Returns:
      str: A string representation of the difference in days, hours, and minutes.
  """

  # Convert strings to datetime objects
  date1_obj = datetime.strptime(date1, "%Y-%m-%d")
  date2_obj = datetime.strptime(date2, "%Y-%m-%d")

  # Calculate timedelta in days
  time_delta = date2_obj - date1_obj
  days = time_delta.days

  # Extract hours and minutes from timedelta seconds
  hours = int(time_delta.seconds / 3600)
  minutes = int((time_delta.seconds % 3600) / 60)

  # Return formatted difference string
  return f"Difference: {days} days, {hours} hours, {minutes} minutes."

# Get user input for dates
date1 = input("Enter first date (YYYY-MM-DD): ")
date2 = input("Enter second date (YYYY-MM-DD): ")

# Calculate and display difference
difference = calculate_date_difference(date1, date2)
print(difference)

Enter first date (YYYY-MM-DD):  2024-07-20
Enter second date (YYYY-MM-DD):  2002-07-20

Difference: -8036 days, 0 hours, 0 minutes.